#自动调用api保活，加密版
name: Auto Api Secret

on: 
  release:
    types: [published]
  push:
    tags:
    - 'v*'
  #  branches: 
  #    - master
  schedule:
    - cron: '23 1/4 * * *'
  watch:
    types: [started]
  workflow_dispatch:
   
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id  # 自己点的 start
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Set up Python #安装python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install requests #安装requests
      run: |
        pip install requests
    - name: Run
      env: 
        CLIENT_ID: ${{ secrets.CLIENT_ID }} 
        CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      run: | 
        echo `date +"%Y-%m-%d %H:%M:%S"` begin
        python rand.py
    - name: Add & Commit
      uses: EndBug/add-and-commit@v4.2.1
